<div class="container sign-in-container">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.text_field :first_name, id: :user_first_name,  placeholder: "First name", class: "form-control", required: true %>
    </div>

    <div class="field">
      <%= f.text_field :last_name, id: :user_last_name, placeholder: "Last Name", class: "form-control", required: true %>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address", class: "form-control", required: true %>
    </div>

    <div class="field">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" , required: true  %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password confirmation"  , required: true %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-default" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
