<!--Start Screenpic-->
<div class="screen-pic">
  <div class="opacity-header">
    <h1>Welcome to Bavarian Bikes</h1>
    <h2>Your source for used bikes in Munich</h2>
  </div>
</div>

<!--Start Bike Portfolio -->

<div class="portfolio-line">
  <div class="row">
    <div class="item col-sm-6 col-md-4 col-lg-3">
      <h3>Peugeot TestBike</h3>
      <%= image_tag "bike-item-test.jpg", class: "item-pic img-fluid" %>
      <div class="description-item">
        <p>I am here to sell my old bike. It is new and has no scratches.</p>
        <hr>
        <p class ="price"><strong>240€</strong></p>
      </div>
    </div>
    <div class="item col-sm-6 col-md-4 col-lg-3">
      <h3>Peugeot TestBike</h3>
      <%= image_tag "bike-item-test.jpg", class: "item-pic img-fluid" %>
    </div>
    <div class="item col-sm-6 col-md-4 col-lg-3">
      <h3>Peugeot TestBike</h3>
      <%= image_tag "bike-item-test.jpg", class: "item-pic img-fluid" %>
    </div>
    <div class="item col-sm-6 col-md-4 col-lg-3">
      <h3>Peugeot TestBike</h3>
      <%= image_tag "bike-item-test.jpg", class: "item-pic img-fluid" %>
    </div>
    <div class="item col-sm-6 col-md-4 col-lg-3">
      <h3>Peugeot TestBike</h3>
      <%= image_tag "bike-item-test.jpg", class: "item-pic img-fluid" %>
    </div>
    <div class="item col-sm-6 col-md-4 col-lg-3">
      <h3>Peugeot TestBike</h3>
      <%= image_tag "bike-item-test.jpg", class: "item-pic img-fluid" %>
    </div>
  </div>
</div>
