<div class="item col-sm-6 col-md-4 col-lg-3">
  <h3><%=product.name%></h3>
  <%= image_tag product.image_url, class: "item-pic img-fluid" %>
  <div class="description-item">
    <p><%=product.description%></p>
    <p><strong>Colour:</strong><%=product.colour%></p>
    <hr>
    <p class ="price"><strong><%=product.price%> €</strong></p>
  </div>
  <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Edit', edit_product_path(product) %>
</div>
