<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
<!--Detail look on only one Product-->
<div class="container">
  <div class="product-container row">
      <div class="col-md-6">
<% cache do %>
          <div class="product-show-img">
            <%=image_tag(@product.image_url, class:"img-show product-show-img", data_zoom_image:"@product.image_url")%>
          </div>
      </div>
      <div class="show-info col-md-6">
        <div class ="product-show-info">
          <p>
            <strong>Name:</strong>
            <%= @product.name %>
          </p>
          <p>
            <strong>Description:</strong>
            <%= @product.description %>
          </p>
          <p>
            <strong>Colour:</strong>
            <%= @product.colour %>
          </p>
          <p>
            <strong>Price:</strong>
            <%= @product.price %> €
          </p>
<% end %>
          <p>
            <strong>Average rating:</strong>
            <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div>
          </p>
          <p>
            Product has been seen <strong><%= @view_counter %></strong> times
          </p>
        <p>
          <% if user_signed_in? %>
            <%= form_with(url: '/payments') do |form| %>
              <%= render partial: "shared/stripe_checkout_button" %>
              <%= hidden_field_tag(:product_id, @product.id) %>
            <% end %>
          <% else %>
            <%= link_to '<button class="btn btn-secondary">Please login to buy our stuff.</button>'.html_safe, new_user_session_path %>
          <% end %>
        </p>
      </div>
    </div>
  </div><!-- end row -->
  <%= render 'new_comment' %>
  <div>
  <% cache @comments do %>
    <%= render 'comments' %>
  <% end %>
  <%= will_paginate @comments, class: "digg_pagination" %>
  </div>
</div>
<br>

<% if signed_in? && current_user.admin? %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
<% end %>
