<div class="product-container">
  <div class="product-show-img" style="background-image: url(<%=image_path(@product.image_url)%>)">
  </div>
  <div class="show-info">
    <div class ="product-show-info">
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Colour:</strong>
        <%= @product.colour %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @product.price %>
      </p>
    </div>
  </div>
</div>




<p id="notice"><%= notice %></p>



<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
