<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>

    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto:300,400,500" rel="stylesheet">

    <!--Stylesheets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!--Javascript-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
      <%= link_to "Dashop.", root_path, class: "navbar-brand logo-heading deselect" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav navbar-right ml-auto">
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item ">
            <%= link_to "Products", products_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "About", simple_pages_about_path, class: "nav-link" %>
          </li>
          <li class="nav-item ">
            <%= link_to "Contact", simple_pages_contact_path, class: "nav-link" %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.first_name %> <%= current_user.last_name %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to('Profile', current_user , class: "dropdown-item") %>
                  <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "dropdown-item") %>
              </div>
            </li>
          <% else %>
            <li class="nav-item ">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item search-form">
            <%= form_with(url: products_path, method: 'get', local: true, class: 'form-inline my-2 my-lg-0') do |form| %>
              <%= form.text_field :q, id: 'q', value: params[:q], class: 'form-control mr-sm-2', placeholder: 'search' %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
    <div class="free-shipping">
      <p>FREE SHIPPING</p>
    </div>
    <% if notice %>
      <div class="alert alert-danger notice-alert notice pt-4" role="alert">
        <p class="notice lead"><%= notice %></p>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger notice-alert" role="alert">
        <p class="alert lead"><%= alert %></p>
      </div>
    <% end %>

    <div class="content-panel">
      <%= yield %>
    </div>


    <footer>
      <div class="footer-line">
        <p><%= link_to "DaShop Example Shop", root_path%> | <a href="#">Datenschutzerklärung</a> | <a href="#">Impressum</a></p>
      </div>
      <hr>
      <div class="footer-line">
        <p class="copyright">&copy; Miro Behninger 2018</p>
      </div>
    </footer>
  </body>
</html>
